.squircle() {
  corner-shape: squircle;
}

.squircle(@x) when (not(@x = '')) {
  corner-shape: squircle;
  border-radius: .v(@x) [];
}

.superellipse(@x) when (default()) {
  corner-shape: superellipse(@x);
}

.superellipse-(@x) when (default()) {
  corner-shape: superellipse(@x);
}

.v(@maybe-property) {
  @v: if(replace('@{maybe-property}', '^(.{2}).*', '$1') = '--', var(@maybe-property), @maybe-property);
}

.rounded-t-(@x) {
  @v: .v(@x) [];
  border-top-left-radius: @v;
  border-top-right-radius: @v;
}
.rounded-b-(@x) {
  @v: .v(@x) [];
  border-bottom-left-radius: @v;
  border-bottom-right-radius: @v;
}
.rounded-l-(@x) {
  @v: .v(@x) [];
  border-top-left-radius: @v;
  border-bottom-left-radius: @v;
}
.rounded-r-(@x) {
  @v: .v(@x) [];
  border-top-right-radius: @v;
  border-bottom-right-radius: @v;
}
.rounded-tl-(@x) {
  border-top-left-radius: .v(@x) [];
}
.rounded-tr-(@x) {
  border-top-right-radius: .v(@x) [];
}
.rounded-bl-(@x) {
  border-bottom-left-radius: .v(@x) [];
}
.rounded-br-(@x) {
  border-bottom-right-radius: .v(@x) [];
}
.rounded-(@x) {
  border-radius: .v(@x) [];
}

.p-(@x) {
  padding: .v(@x) [];
}
.px-(@x) {
  @v: .v(@x) [];
  padding-left: @v;
  padding-right: @v;
}
.py-(@x) {
  @v: .v(@x) [];
  padding-top: @v;
  padding-bottom: @v;
}
.pt-(@x) {
  padding-top: .v(@x) [];
}
.pb-(@x) {
  @v: .v(@x) [];
  padding-bottom: .v(@x) [];
}
.pl-(@x) {
  padding-left: .v(@x) [];
}
.pr-(@x) {
  padding-right: .v(@x) [];
}

.m-(@x) {
  margin: .v(@x) [];
}
.mx-(@x) {
  @v: .v(@x) [];
  margin-left: @v;
  margin-right: @v;
}
.my-(@x) {
  @v: .v(@x) [];
  margin-top: @v;
  margin-bottom: @v;
}
.mt-(@x) {
  margin-top: .v(@x) [];
}
.mb-(@x) {
  margin-bottom: .v(@x) [];
}
.ml-(@x) {
  margin-left: .v(@x) [];
}
.mr-(@x) {
  margin-right: .v(@x) [];
}

.bg-(@x) {
  background-color: .v(@x) [];
}

.w-(@x) {
  width: .v(@x) [];
}
.h-(@x) {
  height: .v(@x) [];
}
.size-(@x) {
  @v: .v(@x) [];
  width: @v;
  height: @v;
}
.min-w-(@x) {
  min-width: .v(@x) [];
}
.min-h-(@x) {
  min-height: .v(@x) [];
}
.max-w-(@x) {
  max-width: .v(@x) [];
}
.max-h-(@x) {
  max-height: .v(@x) [];
}
